.box{
    border: 1px solid #ccc;
    height: 250px;
    width: 150px;
    text-align: center;
    padding: 7px;
    margin: 5px;
    // transition: all 1s earse;
    .movieitem{

    }
    &:hover{
        transform: scale(1.05), rotate(1deg);
    }
}